<div class="container-fluid">
    <div class="container bg-white box-content">
        <div class="row box-content_inner">
            <div class="col-sm-12 d-flex flex-column justify-content-between">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Questions</h1>
                    </div>
                </div>
                <div class="row mt-5 px-5">
                    <div class="col-sm-12 mb-2">
                        <a routerLink = "/questions/create" class="btn btn-theme">Add</a>
                        <a routerLink = "/admin/dashboard" class="btn btn-theme ml-1">Home</a>
                    </div>
                    <div class="col-sm-12 table-wrapper">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Question</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let question of questions;let i = index">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{ question.id }}</td>
                                    <td>{{ question.question }}</td>
                                    <td>{{ question.status }}</td>
                                    <td>
                                        <button class="btn btn-theme" (click) = "onEdit(question.id)">Edit</button>
                                        <button class="btn btn-theme ml-1" (click) = "onDelete(question.id)" >Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>