<div class="container-fluid">
    <div class="container bg-white box-content">
        <div class="row box-content_inner">
            <div class="col-sm-6 d-flex flex-column justify-content-between">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Welcome Admin!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 px-5">
                        <div class="box-content_inner--items">
                            <div class="animated-arrow--wrapper">
                                <a class='animated-arrow' routerLink = "../../questions">
                                    <span class='the-arrow -left'>
                                        <span class='shaft'></span>
                                    </span>
                                    <span class='main'>
                                        <span class='text'>
                                        Questions
                                        </span>
                                        <span class='the-arrow -right'>
                                        <span class='shaft'></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="animated-arrow--wrapper">
                                <a class='animated-arrow' routerLink = "/users">
                                    <span class='the-arrow -left'>
                                        <span class='shaft'></span>
                                    </span>
                                    <span class='main'>
                                        <span class='text'>
                                        Users
                                        </span>
                                        <span class='the-arrow -right'>
                                        <span class='shaft'></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="animated-arrow--wrapper">
                                <a class='animated-arrow' routerLink = "/surveys">
                                    <span class='the-arrow -left'>
                                        <span class='shaft'></span>
                                    </span>
                                    <span class='main'>
                                        <span class='text'>
                                        Survey
                                        </span>
                                        <span class='the-arrow -right'>
                                        <span class='shaft'></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-theme ml-1" (click) = "userLogout()">Logout</button>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="https://www.kindpng.com/picc/m/74-744211_transparent-welcome-clipart-png-cartoon-png-download.png" alt="" style="height: 430px;">
            </div>
        </div>
    </div>
</div>