<app-title></app-title>
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mx-auto card-survey" style="width: 18rem;">
                <div class="card-body text-center">
                  <a routerLink = "/survey"><h3>Participate</h3></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mx-auto card-user" style="width: 18rem;">
                <div class="card-body text-center">
                  <a routerLink = "/users"><h3>Users</h3></a>
                </div>
            </div>
        </div>
    </div>
</div>