<div class="container-fluid">
    <div class="container bg-white box-content">
        <div class="row box-content_inner">
            
            <div class="col-sm-6 d-flex flex-column justify-content-between">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Survey Analytix</h1>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    We're conducting research on the different question types SurveyMonkey has to offer. We'd love to hear from you about what question types you use the most and what question types you want to see built. This will help us make improvements to the existing tool and prioritize new features. The survey should only take 5 minutes, and your responses are completely anonymous.

                    You can only take the survey once, but you can edit your responses until the survey is closed on May 28, 2014. Questions marked with an asterisk (*) are required.

                    If you have any questions about the survey, please email us: youremail@email.com

                    We really appreciate your input!
                  </div>
                </div>
                <!-- <div class="box-content_inner--items">
                  <div class="animated-arrow--wrapper">
                      <a class='animated-arrow' routerLink = "/users/create">
                          <span class='the-arrow -left'>
                            <span class='shaft'></span>
                          </span>
                          <span class='main'>
                            <span class='text'>
                              Participate
                            </span>
                            <span class='the-arrow -right'>
                              <span class='shaft'></span>
                            </span>
                          </span>
                      </a>
                  </div>
                  <div class="animated-arrow--wrapper">
                      <a class='animated-arrow' routerLink = "/users">
                          <span class='the-arrow -left'>
                            <span class='shaft'></span>
                          </span>
                          <span class='main'>
                            <span class='text'>
                              Users
                            </span>
                            <span class='the-arrow -right'>
                              <span class='shaft'></span>
                            </span>
                          </span>
                      </a>
                  </div>
                  <div class="animated-arrow--wrapper">
                      <a class='animated-arrow' routerLink = "/surveys">
                          <span class='the-arrow -left'>
                            <span class='shaft'></span>
                          </span>
                          <span class='main'>
                            <span class='text'>
                              Survey
                            </span>
                            <span class='the-arrow -right'>
                              <span class='shaft'></span>
                            </span>
                          </span>
                      </a>
                  </div>
                </div> -->
                
                
                <!-- <div class="card mx-auto card-survey" style="width: 18rem;">
                    <div class="card-body text-center">
                      <a routerLink = "/users/create"><h3>Participate</h3></a>
                    </div>
                </div>
                <div class="card mx-auto card-user" style="width: 18rem;">
                    <div class="card-body text-center">
                      <a routerLink = "/users"><h3>Users</h3></a>
                    </div>
                </div>
                <div class="card mx-auto card-survey mt-3" style="width: 18rem;">
                    <div class="card-body text-center">
                      <a routerLink = "/surveys"><h3>Survey</h3></a>
                    </div>
                </div> -->
                <div class="row justify-content-center">
                  <!-- <a class="btn btn-theme mr-1" >Get Started</a> -->
                  <button class="btn btn-theme mr-1" (click) = "userLogin()">Login</button>
                  <button class="btn btn-theme mr-1" (click) = "userLoginAdmin()">Login as admin</button>
                  <button class="btn btn-theme ml-1" (click) = "userLogout()">Logout</button>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="https://www.pixel-studios.com/blog/wp-content/uploads/2021/12/ui-ux-design-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
