<div class="container-fluid">
    <div class="container bg-white box-content">
        <div class="row box-content_inner">
            <div class="col-sm-6 d-flex flex-column justify-content-between">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>We Thank You!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 px-5">
                        <p>We want to take a moment of your to thank you for your active participation of you in our seminar on Climate change and the crisis that follows it. 
                        We are happy that the whole world slowly yet is waking up from the sleep of ignorance and is starting to get aware of what is happening to our nature because of the abuse that we did.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <a class="btn btn-theme mr-1" routerLink = "/" >Go Home</a>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="https://w7.pngwing.com/pngs/273/878/png-transparent-youtube-heart-watercolor-painting-thank-you-love-text-calligraphy.png" class="img-fluid" alt="" style="height: 430px;">
            </div>
        </div>
    </div>
</div>